<div class="reset-password mt-5 w-100">
    <div class="title w-100 d-flex align-items-center">
      <i class="fa-solid fa-lock fa-2xl"></i>
      <h3 class="h3-reset-password">{{'resetPassword' | translate}}</h3>
      <div class="line"></div>
    </div>
    <div class="container reset-password">
      <div class="mb-3">
        <label for="enterNewPassword" class="form-label">{{'enterNewPassword' | translate}}</label>
        <input type="password" class="form-control" id="enterNewPassword" placeholder="New Password"  #pass>
      </div>
      <div class="mb-3">
        <label for="repeatNewPassword" class="form-label">{{'repeatNewPassword' | translate}}</label>
        <input type="password" class="form-control " id="repeatNewPassword" placeholder="New Password" #repeatedPass>
      </div>
      <button class="btn btn-primary mt-5"  style="font-weight: bold; background-color: #256AA8" type="submit" (click)="resetPassword(pass.value, repeatedPass.value)">{{'resetPassword' | translate}}</button>
    </div>
  </div>