.container-fluid{
  width: 100%;
  height: 100%;
  padding: 100px;
  overflow-y: scroll;
}

.h3-profile{
  padding-left: 20px;
  width: 400px;
}

.h3-reset-password{
  padding-left: 20px;
  width: 300px;
}

.line{
  width: 100%;
  border-style: solid;
  border-radius: 20px;
  border-width: thin;
}

.container{
  margin: 20px 0 20px 0;
  border-style: solid;
  border-width: thin;
  border-radius: 50px;
  padding: 50px 100px 50px 100px ;
}

@media screen and (min-width: 360px) and (max-width: 650px) {
  .container-fluid{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
  }

  .container{
    margin: 20px 0 20px 0;
    border-style: none;
    border-radius: 00px;
    padding: 10px ;
  }
  
}
