<div class="container-fluid">
  <button class="btn btn-primary mb-4" (click)="addNewEstimation()">{{"addNewScore" | translate}}</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="tab-title">{{'code' | translate}}</th>
      <th scope="col" class="tab-title">{{'title' | translate}}</th>
      <th scope="col" class="tab-title">{{'estimate' | translate}}</th>
      <th scope="col" class="tab-title">&nbsp;</th>
      <th scope="col" class="tab-title">{{'creditPoint' | translate}}</th>
      <th scope="col" class="tab-title">{{'action' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of scoreService.estimationScoreList; let i = index">
      <td class="tab-item">{{item.code}}</td>
      <td class="tab-item">{{item.title}}</td>
      <td class="tab-item">{{item.estimate}}%</td>
      <td class="tab-item">&nbsp;</td>
      <td class="tab-item">{{item.creditPoint}}</td>
      <td class="action">
        <button type="button" class="btn btn-warning" (click)="updateEstimate(item.code)">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button type="button" class="btn btn-success" (click)="submitScore(item.code)">
          {{'submitScore' | translate}}
        </button>
      </td>
    </tr>
    </tbody>
    <tfoot class="table-group-divider" style="font-weight: bold">
    <td colspan="2" style="text-align: center" class="summary">{{'averageValue' | translate}}</td>
    <td style="padding: 10px" class="summary">{{getAverageEstimateScore()}}%</td>
    <td class="summary">{{'estimate' | translate}}</td>
    <td style="padding: 10px" class="summary">{{getTotalEstimateCreditPoint()}}</td>
    <td></td>
    </tfoot>
  </table>
</div>
