.container-fluid{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

iframe{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.autocomplete-container {
  position: relative;
  display: inline-block;
  width: 300px;
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.autocomplete-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-option:hover {
  background-color: #f2f2f2;
}

.course-link{
  display: inline-block;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 360px) and (max-width: 650px) {
  .card{
    width: 100% !important;
    height: fit-content !important;
  }

  .course-link{
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .search{
    width: 150px !important;
  }

  .filter{
    width: 100px !important;
  }
}

@media screen and (min-width: 651px) and (max-width: 999px) {
  .card{
    height: 1250px !important;
  }
  .course-link{
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
