<div class="container-fluid">
    <div class="row" style="height: 100%; width: 100%">
      <div class="col-md-5 col-sm12">
        <div class="text-info">
          <h1>My Study Assist</h1>
  
          <div class="slideshow-container">
            <div class="mySlides">
              <h1>Plan your Studies</h1>
              <q> Perfect for your study plan with My Study Assist</q>
            </div>
            <div class="mySlides">
              <h1>Manage your score</h1>
              <q> Easily manage your score that you have acquire</q>
            </div>
            <div class="mySlides">
              <h1>Have a great uni journey </h1>
              <q> Easily manage your score that you have acquire</q>
            </div>
  
            <!-- Dots/bullets/indicators -->
            <div class="dot-container">
              <span class="dot" (click)="currentSlide(1)"></span>
              <span class="dot" (click)="currentSlide(2)"></span>
              <span class="dot" (click)="currentSlide(3)"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 d-flex align-items-center justify-content-center" >
        <div class="login-container ">
          <!-- forgot-password.component.html -->
            <div>
                <h2 class="welcome-text" style="color: #4834d4">Find your account</h2>
                <div *ngIf="successMessage" class="success-message" style="color: #4834d4;">{{ successMessage }}</div>
                <div *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</div>
                <form (ngSubmit)="sendForgotPasswordEmail()" #forgotPasswordForm="ngForm">
                <div class="form-group">
                    <input type="email" class="form-control border border-primary" id="email" name="email" required [(ngModel)]="email" #emailInput="ngModel" placeholder="Student ID or Username">
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">Please enter a valid email address.</div>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;" [disabled]="forgotPasswordForm.invalid || loading">Send Email</button>
                <div *ngIf="loading" class="loading">Loading...</div>
                </form>
            </div>
        </div>
  
      </div>
    </div>
  </div>
  


  